page-leaguet {
.content-md{background:#fff !important;
    }
.content-ios{background:#fff !important;
    }
    .captiontop{position: absolute;
    bottom: 3px;
    z-index: 99; 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);}
    .headerimg{position: relative;}
    .titlecss{position: absolute;
bottom: 10%;
color: #FF7F00;
font-weight: bold;
font-size: 19px;
padding-left: 10px;}
.card-title-md {
    display: block;
    font-size: 2.0rem;}
    .card-title-ios {
    display: block;
    font-size: 2.0rem;}
    .card-md{width:100%; margin:0;}
        .card-ios{width:100%; margin:0;}
li{display: block; margin: 5px 0;}
.card-content-md {
    padding: 13px 10px;
    font-size: 1rem;
    line-height: 1.5;
    background: #fff;
    color: #333;
}
.card-title-md {
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    color: #fff;
    margin: 2px 0;
    padding: 8px 0;
}


.card-content-ios {
    padding: 13px 10px;
    font-size: 1rem;
    line-height: 1.5;
    background: #fff;
    color: #333;
}
.card-title-ios {
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    color: #fff;
    margin: 2px 0;
    padding: 8px 0;
}

.created{font-size:13px;}

.card-md p {
    margin: 0 0 0px;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.3;
    color: #333;
}
.card-ios p {
    margin: 0 0 0px;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.3;
    color: #333;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    font-size: 10px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table > thead > tr > th, .table > thead > tr > th {
    border-bottom: 1px solid #e4e7ed;
    color: #000;
}
table > thead > tr > th, .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #e4e7ed;
    font-weight: 700;
    color: #31404b;
    text-transform: uppercase;
    padding: 16px 0;
}
.data-name {
    text-align: left;
}
.table-hover > tbody > tr, .table-hover > tbody > tr.highlighted {
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
table > tbody > tr > td, .table > tbody > tr > td, table > tfoot > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #e4e7ed;
    font-size: 10px;
text-align: center;
padding: 8px 0;
color: #575757;
}
.clubtx{text-align: left; font-size: 9px;}
.team-logo{
    
    display: inline-block;
    vertical-align: middle;
    text-align: center;}
.team-logo img    {    width: 40px !important;    height: auto !important;}
.leaguetable{padding:0 10px;}
}
