<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
      </button>
    <ion-title>
      Betway Power Basketball Club
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
 <div class="headerimg"> <img src="assets/imgs/bannertop3.jpg">

<div class="captiontop">
<div class="newcaption container">
<div class="titlecss">League Table
</div>
</div>

</div>
 </div>
<ion-card >
        <!--<img src="{{newsImg}}">-->
        <ion-card-content>
            
            <p [innerHTML]="mybody">
            </p>

            <!-- Sharing Icons -->
     
        </ion-card-content>
    </ion-card>

<div class="leaguetable">    
<table width="100%" border="0">
 <thead> <tr>
    <th>POS</th>
    <th class="data-name">CLUB</th>
    <th>P</th>
    <th>W</th>
    <th>D</th>
    <th>L</th>
    <th>GD</th>
    <th>PTS</th>
  </tr> </thead>
  <tbody>
  <tr *ngFor="let stand of stands" >
    <td >{{stand.node.POS}}</td>
    <td class="clubtx" [innerHTML]="stand.node.Club"></td>
    <td>{{stand.node.P}}</td>
    <td>{{stand.node.W}}</td>
    <td>{{stand.node.D}}</td>
    <td>{{stand.node.L}}</td>
    <td>{{stand.node.GD}}</td>
    <td>{{stand.node.PTS}}</td>
  </tr></tbody>

</table>

</div>

</ion-content>
