<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
      </button>
    <ion-title>
      Betway Power Basketball Club
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
 <div class="headerimg"> <img src="assets/imgs/bannertop3.jpg">

<div class="captiontop">
<div class="newcaption container">
<div class="titlecss">About Us
</div>
</div>

</div>
 </div>
<ion-card class="animated slower  fadeIn delay-1s">
        <!--<img src="{{newsImg}}">-->
        <ion-card-content>
            
            <p [innerHTML]="mybody">
            </p>

            <!-- Sharing Icons -->
     
        </ion-card-content>
    </ion-card>

</ion-content> 
