page-about {
.content-md{background:#fff !important;
    }
.content-ios{background:#fff !important;
    }
    .captiontop{position: absolute;
    bottom: 3px;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);}
    .headerimg{position: relative;}
    .titlecss{position: absolute;
bottom: 10%;
color: #FF7F00;
font-weight: bold;
font-size: 19px;
padding-left: 10px;}
.card-title-md {
    display: block;
    font-size: 2.0rem;}
    .card-title-ios {
    display: block;
    font-size: 2.0rem;}
    .card-md{width:100%; margin:0;}
        .card-ios{width:100%; margin:0;}
li{display: block; margin: 5px 0;}
.card-content-md {
    padding: 13px 10px;
    font-size: 1rem;
    line-height: 1.5;
    background: #fff;
    color: #333;
}
.card-title-md {
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    color: #fff;
    margin: 2px 0;
    padding: 8px 0;
}


.card-content-ios {
    padding: 13px 10px;
    font-size: 1rem;
    line-height: 1.5;
    background: #fff;
    color: #333;
}
.card-title-ios {
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    color: #fff;
    margin: 2px 0;
    padding: 8px 0;
}

.created{font-size:13px;}

.card-md p {
    margin: 0 0 20px;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.3;
    color: #333;
}
.card-ios p {
    margin: 0 0 20px;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.3;
    color: #333;
}

}
