<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Register Account</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="materialContainer">




        <div class="box">

<div class="title"><img src="assets/imgs/icon.png"></div>



                <form (ngSubmit)="  registerUser()" [formGroup]="registerUserForm">
                <ion-input placeholder="Full Name"  ngModel pattern=".{6,}" type="text" formControlName="fname" #fname></ion-input>
              <div *ngIf="!registerUserForm.controls.fname.valid &&
        registerUserForm.controls.fname.dirty"
        class="validator-error">
      Please enter a name. Atleast 6 letters.
    </div>   
                
          <ion-grid>      
                <ion-row>
        <ion-col col-3>
            <ion-input type="tel" value="+256" readonly> </ion-input>
        </ion-col>
        <ion-col col-9>
            <ion-input type="number" placeholder="Enter Phone Number" pattern=".{9,}" maxlength="9" formControlName="mobilenumber" #mobilenumber></ion-input>
        </ion-col>
      </ion-row></ion-grid>
      <div *ngIf="!registerUserForm.controls.mobilenumber.valid &&
        registerUserForm.controls.mobilenumber.dirty"
        class="validator-error">
      Please enter a valid phone number. 9 numbers only no zero at the start.
    </div>

      
            <ion-input placeholder="Password" type="password" class="password" formControlName="password" #password></ion-input>
            <ion-input placeholder="" type="hidden" class="hiddenfield" value="power" formControlName="clubid" #clubid></ion-input>

            <ion-list>
            <ion-item text-wrap >
            <div id="recaptcha-container"></div>
            </ion-item>
            </ion-list>

                <div class="button login">
                    <button type="submit" block [disabled]="registerUserForm.invalid" ><span>GO</span> <i class="fa fa-check"></i></button>
                </div>


            </form>



            <div>

            </div>



        </div>



    </div>
</ion-content>