<ion-header>

    <ion-navbar>
        <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
      </button>
        <ion-title>Betway Power Basketball Club</ion-title>
    </ion-navbar>

</ion-header>
<ion-content>

 <div class="headerimg"> <img src="assets/imgs/bannertop3.jpg">

<div class="captiontop">
<div class="newcaption container">
<div class="titlecss">Gallery
</div>
</div>

</div>
 </div>

<div *ngIf="!isLoading">

<ion-list>

<ion-grid>
<ion-row>
<ion-col col-6 text-wrap *ngFor="let item1 of gallery" >
  <img src="{{item1.node.field_featured_gallery.src}}" imageViewer>
</ion-col>
</ion-row>
</ion-grid>

</ion-list>
</div>
     
</ion-content>