<ion-tabs color="primary" >
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="News" tabIcon="paper"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Highlights" tabIcon="star"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Fixtures" tabIcon="apps"></ion-tab>
    <ion-tab [root]="tab5Root" tabTitle="Standings" tabIcon="football"></ion-tab>
</ion-tabs>