page-matches {
.content-md{background: #fff;}
.content-ios{background: #fff;}
/*match widget*/
.bt_bb_game_result {
  display: inline-block;
  width: 100%;
}
h2{color: #000;
font-size: 1.2em;
text-transform: uppercase;
font-weight: 800;
padding: 0 10px 5px 10px; border-bottom: 1px solid #eee;}
.item-md{background: #fff; padding: 0 10px !important; }
.item-ios{background: #fff; padding: 0 10px !important; }
.item-md{color:#333;}
.item-ios{color:#333;}
.myitemlist{color:#333;}
.bt_bb_game_result .bt_bb_game_result_supertitle {
  font-family: "Montserrat";
  display: block;
  margin-bottom: 1em;
  font-size:13px;
  text-align: center;
}
.bt_bb_game_result .bt_bb_game_result_wrap {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  width: 100%;
}
.bt_bb_game_result .bt_bb_game_result_wrap .bt_bb_game_result_team {
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.bt_bb_game_result .bt_bb_game_result_wrap .bt_bb_game_result_team .bt_bb_game_result_crest {
  -webkit-flex: 1 0 40%;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
}

.bt_bb_game_result .bt_bb_game_result_wrap .bt_bb_game_result_team .bt_bb_game_result_data {
  -webkit-flex: 0 1 60%;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
}

.bt_bb_game_result .bt_bb_game_result_wrap .bt_bb_game_result_team .bt_bb_game_result_data .bt_bb_game_result_value {
  padding: 0 1em;
  font-family: "Montserrat";
}
.bt_bb_game_result .bt_bb_game_result_wrap .bt_bb_game_result_team .bt_bb_game_result_data .bt_bb_game_result_value {
  font-family: "Montserrat";
  text-align: center;
}
.bt_bb_game_result_team_left .bt_bb_game_result_value {
  border-right: 1px solid #eee;
}

.bt_bb_counter_holder.bt_bb_size_large {
  font-size: 5.5em;
}

.bt_bb_counter_holder {
  height: 1em;
  line-height: 1;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-weight: 800;
  width: auto;
}
.bt_bb_game_result .bt_bb_game_result_wrap .bt_bb_game_result_team .bt_bb_game_result_data .bt_bb_game_result_title {
  font-family: "Montserrat";
  opacity: .8;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
}
.bt_bb_counter_holder {
  font-size: 2em !important;
  height: 1.2em;
  line-height: 1.2;
  overflow: hidden;
}
.bt_bb_counter_holder .bt_bb_counter_icon_box {
  line-height: 1;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.bt_bb_counter_holder .bt_bb_counter_icon_box span.bt_bb_icon_holder {
  font-size: .7em;
  line-height: 1;
  font-weight: 400;
  padding: 0 .1em;
}
.bt_bb_game_result .bt_bb_game_result_wrap .bt_bb_game_result_team .bt_bb_game_result_data .bt_bb_game_result_value .bt_bb_counter[data-digit-length="1"] {
  min-width: .7em;
  text-align: center;
}
.bt_bb_counter_holder .bt_bb_counter {
  height: 1em;
  float: left;
}
.bt_bb_counter_holder .bt_bb_counter {
  display: block;
  height: 1.2em;
  overflow: hidden;
}
.bt_bb_counter_holder .bt_bb_counter span.onedigit {
  height: 1em;
}
.bt_bb_counter_holder .bt_bb_counter span.onedigit {
  display: inline-block;
  height: 1.2em;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.bt_bb_align_left .bt_bb_align_center.bt_bb_column, .bt_bb_align_right .bt_bb_align_center.bt_bb_column, .bt_bb_align_left .bt_bb_align_center .bt_bb_column, .bt_bb_align_right .bt_bb_align_center .bt_bb_column, .bt_bb_align_center.bt_bb_column, .bt_bb_align_center .bt_bb_column, .bt_bb_align_left .bt_bb_align_center.bt_bb_column_inner, .bt_bb_align_right .bt_bb_align_center.bt_bb_column_inner, .bt_bb_align_left .bt_bb_align_center .bt_bb_column_inner, .bt_bb_align_right .bt_bb_align_center .bt_bb_column_inner, .bt_bb_align_center.bt_bb_column_inner, .bt_bb_align_center .bt_bb_column_inner {
  text-align: center;
}

.bt_bb_game_result_crest img{    }

#footerdownb .bt_bb_counter_holder {
    height: 1em;
    line-height: 1;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    font-weight: 800;
    width: auto;
}
.bt_bb_counter_holder .bt_bb_counter_icon_box {
    line-height: 1;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bt_bb_game_result_supertitle{    display: block;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px; color:#333;}

#footerdownb .bt_bb_counter_holder {
    font-size: 4em !important;
    color:#fff;
}
.newslist p{    font-size: .6em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 1em; color:#333;}
.newslist h2{overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.2em;
    max-height: 3.4em;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0; color:#333;}
.bt_bb_game_result_titleleft{font-size: 10px; display: block; text-align: left;}
.bt_bb_game_result_titleright{font-size: 10px; display: block; text-align: right;}
.resultleft{    text-align: right;
    font-size: 12px;
    font-weight: 900;}
.resultright{   
    font-size: 12px;
    font-weight: 900;}
.clubleft, .clubright{    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
     -webkit-box-flex: 1; 
     flex: 1 0 50%; 
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex; 
     display: -webkit-inline-box; 
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;}
 .bordercss {border-right:1px solid #eee;}
 .nextmatch{padding-bottom: 30px;}
 .clubslides .swiper-slide{padding:0 10px;}
.item-md{color:#333;}
.item-ios{color:#333;}
.captiontop{position: absolute;
    bottom: 3px;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);}
    .headerimg{position: relative;}
    .titlecss{position: absolute;
bottom: 10%;
color: #FF7F00;
font-weight: bold;
font-size: 19px;
padding-left: 10px;}
.rright{text-align: right;}

}
