<ion-header>

    <ion-navbar>
        <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
      </button>
        <ion-title>Betway Power Basketball Club</ion-title>
    </ion-navbar>

</ion-header>


<ion-content >
 <div class="headerimg"> <img src="assets/imgs/bannertop3.jpg">

<div class="captiontop">
<div class="newcaption container">
<div class="titlecss">League
</div>
</div>

</div>
 </div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="!isLoading">
       <!-- <h2 (click)="openPagePremier()">Premiership</h2>-->
        <ion-list>
            <ion-item *ngFor="let item of matches"  class="margin-bottom-10 animated  fadeIn delay-1s" text-wrap  (click)="openPage(item)">
 <div class="myitemlist">                
<div class="bt_bb_game_result_supertitle">
<span [innerHTML]="item.node.field_date_of_game"></span></div>
<ion-grid>
    <ion-row>
<ion-col col-6 class="bordercss">
<ion-row class="clubleft">
<ion-col size="50" >
   <div class="bt_bb_game_result_crest"><img src="{{item.node.field_club_logo.src}}">
</div>
</ion-col>
<ion-col size="50" class="resultleft">
   <span [innerHTML]="item.node.field_home_result"></span>
</ion-col>
</ion-row>
<div class="bt_bb_game_result_titleleft" [innerHTML]="item.node.field_home_club"></div>
</ion-col>
<ion-col col-6 class="rright">
<ion-row class="clubright">
<ion-col size="50" class="resultright">
    <span [innerHTML]="item.node.field_away_result"></span>
</ion-col>
<ion-col size="50">
    <div class="bt_bb_game_result_crest"><img src="{{item.node.awayclublogo.src}}"></div>
</ion-col>
</ion-row>
<div class="bt_bb_game_result_titleright" [innerHTML]="item.node.field_away_club"> </div>
</ion-col>
</ion-row>
</ion-grid></div>
            </ion-item>
        </ion-list>

<!--<h2 (click)="openPageSuper()">Super Series</h2>.
        <ion-list>
            <ion-item *ngFor="let item of smatches"  class="margin-bottom-10" text-wrap (click)="openPageSuper()">
<div class="myitemlist">                 
<div class="bt_bb_game_result_supertitle">
<span [innerHTML]="item.node.field_date_of_game"></span></div>
<ion-grid>
    <ion-row>
<ion-col size="50" class="bordercss">
<ion-row class="clubleft">
<ion-col size="50" >
   <div class="bt_bb_game_result_crest"><img src="{{item.node.field_club_logo.src}}">
</div>
</ion-col>
<ion-col size="50" class="resultleft">
   <span [innerHTML]="item.node.field_home_result"></span>
</ion-col>
</ion-row>
<div class="bt_bb_game_result_titleleft" [innerHTML]="item.node.field_home_club"></div>
</ion-col>
<ion-col size="50">
<ion-row class="clubright">
<ion-col size="50" class="resultright">
    <span [innerHTML]="item.node.field_away_result"></span>
</ion-col>
<ion-col size="50">
    <div class="bt_bb_game_result_crest"><img src="{{item.node.awayclublogo.src}}"></div>
</ion-col>
</ion-row>
<div class="bt_bb_game_result_titleright" [innerHTML]="item.node.field_away_club"> </div>
</ion-col>
</ion-row>
</ion-grid></div>
            </ion-item>
        </ion-list>


<h2 (click)="openPageUcup()">Uganda Cup</h2>.
        <ion-list>
            <ion-item *ngFor="let item of umatches"  class="margin-bottom-10" text-wrap (click)="openPageUcup()">
<div class="myitemlist">                
<div class="bt_bb_game_result_supertitle">
<span [innerHTML]="item.node.field_date_of_game"></span></div>
<ion-grid>
    <ion-row>
<ion-col size="50" class="bordercss">
<ion-row class="clubleft">
<ion-col size="50" >
   <div class="bt_bb_game_result_crest"><img src="{{item.node.field_club_logo.src}}">
</div>
</ion-col>
<ion-col size="50" class="resultleft">
   <span [innerHTML]="item.node.field_home_result"></span>
</ion-col>
</ion-row>
<div class="bt_bb_game_result_titleleft" [innerHTML]="item.node.field_home_club"></div>
</ion-col>
<ion-col size="50">
<ion-row class="clubright">
<ion-col size="50" class="resultright">
    <span [innerHTML]="item.node.field_away_result"></span>
</ion-col>
<ion-col size="50">
    <div class="bt_bb_game_result_crest"><img src="{{item.node.awayclublogo.src}}"></div>
</ion-col>
</ion-row>
<div class="bt_bb_game_result_titleright" [innerHTML]="item.node.field_away_club"> </div>
</ion-col>
</ion-row>
</ion-grid></div>
            </ion-item>
        </ion-list>-->
<ion-infinite-scroll (ionInfinite)="doInfinite($event)" class="text-color-white">
     <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
     </ion-infinite-scroll-content>
 </ion-infinite-scroll>
    </div>



</ion-content>