<ion-header>
    <ion-navbar>
      <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
      </button>
        <ion-title>Betway Power Basketball Club</ion-title>
    </ion-navbar>
</ion-header>  

<ion-content  class="outer-content no-scroll" >
<div *ngIf="!this.isLoading">
     

<div *ngIf="myslides && myslides.length" class="myCarousels animated  fadeIn delay-20s">
   <div class="homeart" *ngFor="let item of myslides">
    <img src="{{item.node.field_featured_mobile_image.src}}">
  </div> 
</div> 


<div class="latestresults">
<div class="latestmatch">

<div style="height: 100%" class="ngames">
<div *ngIf="nresults && nresults.length" class="myCarouselr clubslides ">


<div *ngFor="let item1 of nresults">
<div class="bt_bb_game_result_supertitle animated  fadeIn delay-120s">
<span [innerHTML]="item1.node.field_date_of_game"></span></div>
<ion-grid>
    <ion-row>
<ion-col col-6 class="bordercss">
<ion-row class="clubleft">
<ion-col size="50" >
   <div class="bt_bb_game_result_crest"><img src="{{item1.node.field_club_logo.src}}">
</div>
</ion-col>
<ion-col size="50" class="resultleft">
   <span [innerHTML]="item1.node.field_home_result"></span>
</ion-col>
</ion-row>
<div class="bt_bb_game_result_titleleft" [innerHTML]="item1.node.field_home_club"></div>
</ion-col>
<ion-col col-6 class="rright">
<ion-row class="clubright">
<ion-col size="50" class="resultright">
    <span [innerHTML]="item1.node.field_away_result"></span>
</ion-col>
<ion-col size="50">
    <div class="bt_bb_game_result_crest"><img src="{{item1.node.awayclublogo.src}}"></div>
</ion-col>
</ion-row>
<div class="bt_bb_game_result_titleright" [innerHTML]="item1.node.field_away_club"> </div>
</ion-col>
</ion-row>
</ion-grid>

</div>
</div>


</div></div></div>









</div>

</ion-content>