page-home {
.custon-nav{
    height: 48px;
    width: 20px;
    cursor: pointer;
 
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.content-md{background:#0B578E !important;
    }
.content-ios{background:#0B578E !important;
    }



/*match widget*/
.bt_bb_game_result {
  display: inline-block;
  width: 100%;
  color:#fff;
}
.bt_bb_game_result .bt_bb_game_result_supertitle {
  display: block;
  margin-bottom: 1em;
  font-size:13px;
  text-align: center;
  
}
.bt_bb_game_result .bt_bb_game_result_wrap {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  width: 100%;
}
.bt_bb_game_result .bt_bb_game_result_wrap .bt_bb_game_result_team {
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.bt_bb_game_result .bt_bb_game_result_wrap .bt_bb_game_result_team .bt_bb_game_result_crest {
  -webkit-flex: 1 0 40%;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
}

.bt_bb_game_result .bt_bb_game_result_wrap .bt_bb_game_result_team .bt_bb_game_result_data {
  -webkit-flex: 0 1 60%;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
}

.bt_bb_game_result .bt_bb_game_result_wrap .bt_bb_game_result_team .bt_bb_game_result_data .bt_bb_game_result_value {
  padding: 0 1em;
}
.bt_bb_game_result .bt_bb_game_result_wrap .bt_bb_game_result_team .bt_bb_game_result_data .bt_bb_game_result_value {
  text-align: center;
}
.bt_bb_game_result_team_left .bt_bb_game_result_value {
  border-right: 1px solid #eee;
}

.bt_bb_counter_holder.bt_bb_size_large {
  font-size: 5.5em;
}

.bt_bb_counter_holder {
  height: 1em;
  line-height: 1;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-weight: 800;
  width: auto;
}
.bt_bb_game_result .bt_bb_game_result_wrap .bt_bb_game_result_team .bt_bb_game_result_data .bt_bb_game_result_title {
  opacity: .8;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
}
.bt_bb_counter_holder {
  font-size: 2em !important;
  height: 1.2em;
  line-height: 1.2;
  overflow: hidden;
}
.bt_bb_counter_holder .bt_bb_counter_icon_box {
  line-height: 1;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.bt_bb_counter_holder .bt_bb_counter_icon_box span.bt_bb_icon_holder {
  font-size: .7em;
  line-height: 1;
  font-weight: 400;
  padding: 0 .1em;
}
.bt_bb_game_result .bt_bb_game_result_wrap .bt_bb_game_result_team .bt_bb_game_result_data .bt_bb_game_result_value .bt_bb_counter[data-digit-length="1"] {
  min-width: .7em;
  text-align: center;
}
.bt_bb_counter_holder .bt_bb_counter {
  height: 1em;
  float: left;
}
.bt_bb_counter_holder .bt_bb_counter {
  display: block;
  height: 1.2em;
  overflow: hidden;
}
.bt_bb_counter_holder .bt_bb_counter span.onedigit {
  height: 1em;
}
.bt_bb_counter_holder .bt_bb_counter span.onedigit {
  display: inline-block;
  height: 1.2em;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.bt_bb_align_left .bt_bb_align_center.bt_bb_column, .bt_bb_align_right .bt_bb_align_center.bt_bb_column, .bt_bb_align_left .bt_bb_align_center .bt_bb_column, .bt_bb_align_right .bt_bb_align_center .bt_bb_column, .bt_bb_align_center.bt_bb_column, .bt_bb_align_center .bt_bb_column, .bt_bb_align_left .bt_bb_align_center.bt_bb_column_inner, .bt_bb_align_right .bt_bb_align_center.bt_bb_column_inner, .bt_bb_align_left .bt_bb_align_center .bt_bb_column_inner, .bt_bb_align_right .bt_bb_align_center .bt_bb_column_inner, .bt_bb_align_center.bt_bb_column_inner, .bt_bb_align_center .bt_bb_column_inner {
  text-align: center;
}

.bt_bb_game_result_crest img{  }

#footerdownb .bt_bb_counter_holder {
    height: 1em;
    line-height: 1;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    font-weight: 800;
    width: auto;
}
.bt_bb_counter_holder .bt_bb_counter_icon_box {
    line-height: 1;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bt_bb_game_result_supertitle{    display: block;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px; color:#fff; display: block;}
.headerfirst{padding: 0 10px; text-align: center;}
#footerdownb  .bt_bb_headline_content1 {
    display: block;
    font-weight: 800;
    font-size: 1.6em;
    color:#fff;
}
.orangecss{background: rgba(217, 164, 4, 1);
    text-align: center;
    padding: 40px 0;}
.blackcss{background: #000;
    text-align: center;
    margin: 0;
    padding: 40px 0;}
#footerdownb .bt_bb_counter_holder {
    font-size: 4em !important;
    color:#fff;
}
h2{font-size: 1.4rem; color:#000;}
.newslist p{    font-size: .6em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 1em; color:#595b59;}
.newslist h2{overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.2em;
    max-height: 3.4em;
    font-weight: 900 !important;
    text-transform: uppercase;
    padding: 0;
    color: #000;
    font-size:1em !important;}
.item-md p {
    margin: 8px 0 8px;
    overflow: inherit;
    font-size: 0.7em; color:#595b59;}
.item-ios p {
    margin: 8px 0 8px;
    overflow: inherit;
    font-size: 0.7em; color:#595b59;}
.item-md ion-avatar ion-img, .item-md ion-avatar img{border-radius: 0 !important;
  overflow: hidden;
  width: 60px;
  height: 60px;}
  .item-ios ion-avatar ion-img, .item-ios ion-avatar img{border-radius: 0 !important;
    overflow: hidden;
    width: 60px;
    height: 60px;}
.label-md{margin:  2px 8px 2px 0}
.label-ios{margin:  2px 8px 2px 0}
.item-md{ padding: 0 10px !important; }
.item-ios{ padding: 0 10px !important; }
.item-md{color:#fff;}
.item-ios{color:#fff;}
.ngames{position: relative; margin-top: -216px; }
.latestmatch{color: #fff;

padding: 6px;
}
.nextmatch{color: #333;
margin-bottom: 20px;
padding-bottom: 20px;
-webkit-box-shadow: 0px -8px 28px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -8px 28px -3px rgba(0,0,0,0.75);
box-shadow: 0px -8px 28px -3px rgba(0,0,0,0.75);
border-radius: 8px;
padding: 6px;
background: #fff;
margin: 6px;}
.nextmatch2{color: #fff; margin-bottom: 20px; padding-bottom:20px;  border-bottom: 1px solid #434343; }

.headhome{text-align: center; padding-top: 20px;}
.bt_bb_game_result_titleleft{font-size: 10px; display: block; text-align: left;}
.bt_bb_game_result_titleright{font-size: 10px; display: block; text-align: right;}
.resultleft{    text-align: right;
    font-size: 18px;
    font-weight: 900;}
.resultright{   
    font-size: 18px;
    font-weight: 900;}
.clubleft, .clubright{    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
     -webkit-box-flex: 1; 
     flex: 1 0 50%; 
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex; 
     display: -webkit-inline-box; 
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;}
 .bordercss {border-right:1px solid #eee;}
 .clubslides .swiper-slide{padding:0 10px;}
 .teamslides{background: #000; padding: 20px 0;}
 .teamslides img{border-radius: 50%;}
 .teamslides p{text-transform: uppercase; color: #fff; text-align: center; font-weight: 200; font-size: 9px; margin:0;}
 .teamslides h3{text-transform: uppercase; color: #fff; text-align: center; font-weight: 900; font-size: 11px; margin:0;}
.clubslides {
padding: 20px 15px;
background: rgba(3, 82, 138, 0.8);
border-radius: 5px;
margin: 0 7px;}
.homeart{position: relative;}
p.homecaption{
    position: absolute; color: #fff;
top: 50%;
left: 14px;
font-size: 30px;
font-weight: 200;}
p.homecaption::before{
    content: ' ';
    display: block;
    width: 2em;
    margin: 0 0 .4em;
    border-style: solid;
    border-width: 2px 0 0;
    margin: .1em 0 .3em;
    color: #3da3e6;
    width: 1.5em;
    border-width: 3px 0 0;}

    .clubslides .item-md{background: #fff !important;}
    .clubslides .item-ios{background: #fff !important;}
    
    .newslist .item-md{background: #f7f7f7 !important; margin:20px 0; padding:10px 10px 20px !important;}
    .newslist .item-ios{background: #f7f7f7 !important; margin:20px 0; padding:10px 10px 20px !important;}

    .clubslides h2{color:#3da3e6; font-weight: bold;}
    .grid{padding: 0;}

    .slick-slide {
        opacity: 1;
    }
    .slick-current {
        opacity: 1 !important;
    }
    .slick-dots li button:before  {
        font-size: 50px !important;
    }

    .clubslides .slick-prev {
    background: url(../assets/imgs/cleft.png) no-repeat !important;
    display: block;
    text-indent: -999999px;
    top: 50%;
    left: -4%;
    z-index: 999;
    opacity: 0.7;
}
.clubslides .slick-next {
    background: url(../assets/imgs/cright.png) no-repeat !important;
    display: block;
    text-indent: -999999px;
    top: 50%;
    right: -4%;
    z-index: 999;
    opacity: 0.7;
}

.clubslides .slick-prev, .clubslides .slick-next {
    width: 35px !important;
    height: 35px !important;
}
   .teamslides .slick-prev {
    background: url(../assets/imgs/cleft2.png) no-repeat !important;
    display: block;
    text-indent: -999999px;
    top: 50%;
    left: -4%;
    z-index: 9;
    opacity: 0.9;
}
.teamslides .slick-next {
    background: url(../assets/imgs/cright2.png) no-repeat !important;
    display: block;
    text-indent: -999999px;
    top: 50%;
    right: 2%;
    z-index: 9;
    opacity: 0.9;
}

.teamslides .slick-prev, .teamslides .slick-next {
    width: 35px !important;
    height: 35px !important;
}
.teamslides .slick-slide img{
        display: block;
        margin: 0 auto;
    }
.slick-list{z-index: 0;}



.bt_bb_scheduled_game {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bt_bb_scheduled_game .bt_bb_scheduled_game_image {
    padding-bottom: 1em;
}

.bt_bb_scheduled_game .bt_bb_scheduled_game_image {
    -webkit-flex: 1 0 40%;
    -ms-flex: 1 0 40%;
    flex: 1 0 40%;
    text-align: center;
    padding: 0 .5em;
}
.bt_bb_scheduled_game .bt_bb_scheduled_game_headline {
    -webkit-flex: 1 0 60%;
    -ms-flex: 1 0 60%;
    flex: 1 0 60%;
    padding: 0 .5em;
    color:#f9f9f9;
}

.bt_bb_scheduled_game .bt_bb_scheduled_game_headline .bt_bb_scheduled_game_supertitle {
    font-size: .7em;
    text-transform: uppercase;
}

.bt_bb_scheduled_game .bt_bb_scheduled_game_headline .bt_bb_scheduled_game_supertitle {
    text-transform: uppercase;
}
.bt_bb_scheduled_game .bt_bb_scheduled_game_headline .bt_bb_scheduled_game_title {

    color: #f7842b;
    font-size: 1em;
    font-weight: 800;
}

.bt_bb_scheduled_game .bt_bb_scheduled_game_headline .bt_bb_scheduled_game_subtitle {
    font-size: .7em;
    text-transform: uppercase;
}
.rright{text-align: right;}
}
