<ion-menu [content]="content" side="left">



    <ion-content>

        <div class="clubimg">
            <ion-avatar item-start>
                <img src="assets/imgs/icon.png">
            </ion-avatar>
        </div>

         <div class="clubteaser" *ngIf="!is_loading">{{loggedInUser}}</div> 
        <div class="clubteaser1">#PowerIntensity</div> 

        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [class.active]="checkActivePage(p)">
          <div class="{{p.class}}"> {{p.title}}</div>
          <p class="tclass"> {{p.desc}}</p>
        </button>

            <button menuClose ion-item (click)="logout()">
            <div class=""> Logout</div>
            <p class="tclass"> Logout of the app</p>
            <!-- <p class="tclass"> {{p.desc}}</p> -->
          </button>

        </ion-list>
<div class="betlogo">
    <h2>Sponsored by Betway</h2>
  <img (click)="openUrl('https://www.betway.ug/?register=1&btag=P59110-PR1030-CM29450-TS254357/')"  src="assets/imgs/betway_logo.jpg">  
</div>
                 <div class="socialbottom">
            <h2>SOCIAL MEDIA</h2>

<ion-grid>
<ion-row>
<ion-col col-2 >
    <button (click)="openUrl('https://facebook.com/Power-Basketball-Club-1445741129001458')" >
<ion-icon class="inscss" name="logo-facebook"></ion-icon>
</button>
</ion-col>
<ion-col col-2 >
    <button (click)="openUrl('https://twitter.com/powerbballclub?lang=en')" >
<ion-icon class="tcss" name="logo-twitter"></ion-icon>
</button>
</ion-col>
</ion-row>
</ion-grid>





        </div>

    </ion-content>


</ion-menu>


<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>