body,
.content {
    font-family: BlinkMacSystemFont, -apple-system,  "Montserrat", "Arial", sans-serif;
}

.scroll-content {
    overflow-y: auto !important;
}

.text-color-yellow {
    color: #F5FF00 !important;
}

.text-color-white {
    color: #fff !important;
}

.bg-white {
    background: #fff !important;
    color: #000000 !important;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.item-md.item-block .item-inner {
    border-bottom: 0 !important;
}

.tabs-ios-primary .tab-button-icon{color: rgb(61, 163, 230);}
.tabs-md-primary .tab-button-icon{color: rgb(61, 163, 230);}
.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text{color: rgb(61, 163, 230);}
.tabs-ios[tabsLayout=icon-top] .has-icon .tab-button-text{color: rgb(61, 163, 230);}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #ff7f00;
}
.toolbar-title-ios {
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #ff7f00;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default, .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default  {
    color: #ff7f00;
    background-color: transparent;
}

.menu-inner {

    background: #fff;
}

.menu-inner .scroll-content {
    background: #fff;
    
}

.menu-inner .list .item-md{
    
    color: #000 !important;
    background: #fff !important;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #E4E4E4 !important;
}

.menu-inner .list .label{ 
    vertical-align: top;
    display: block;
        margin: 20px 8px 20px 0;
}
p.tclass{    font-size: 11px;
    display: block;
}



.item-md.active{    background: #E4E4E4 !important;
    color: #000 !important;

}

.clubimg {

    background: #0B578E !important;
    padding-top: 30px;
    display: block;
    padding-left: 16px;
    padding-bottom: 30px;
    
}

.clubimg img{

    background: #0B578E !important;
    display: block;
    width: 80px !important;
    height: auto !important;
}

.list  .share-icon{

    margin-right: 6px;
    font-size: 16px;
}

.list .myliveclass .share-icon{color: #D90000;}
.list .mysocialclass .share-icon{color: #265CFF;}
.list .mysocialclasss .share-icon{color:#FFBF00;}
.list  .mynnclass .share-icon{color:#fbc70e;}
.list  .myfavv .share-icon{color:#fbc70e;}

.list .myfav .share-icon{color:#fbc70e;}

.clubteaser {

       background: #0B578E !important;
       font-size: 14px;
       text-align: left;
       color: #ff7f00;
       font-weight:200;
       padding-top: 20px;
       display: block;
       padding-bottom: 10px;
       padding-left: 16px;


}

.clubteaser1 {

       background:#0B578E !important;
       font-size: 10px;
       text-align: left;
       color: #ff7f00;
       font-weight:200;
       padding-top: 0px;
       display: block;
       padding-bottom: 20px;
       padding-left: 16px;

}
.margin-bottom-10 {
    margin-bottom: 10px;
}

.item-md.item-block .item-inner {
    border-bottom: 0 !important;
}
.socialbottom{padding-left: 14px;}
.socialbottom button{background: none;     padding: 10px 0;
    display: block; font-size: 18px;}
ion-icon.inscss::before{color: #3B5999;
    font-size: 24px;
    }
    ion-icon.tcss::before{color: #27A5D8;
    font-size: 24px;
    }
.socialbottom h2{color:#717171; font-size: 16px; padding-top:20px;}
.betlogo h2 {
    color: #717171;
    font-size: 16px; padding-bottom: 20px; text-transform:uppercase;
}
.betlogo img{ }
.betlogo {padding-left: 14px;
    padding-top: 10px;
    }
.loading-md  {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 100% !important;
    max-height: 100% !important;
    background: #0B578E !important;
}


@keyframes fadeIn { 
  from { opacity: 0; } 
}

.custom-spinner-container {
  
  
  animation: fadeIn 1s infinite alternate;
}

.tabs-md .tab-button-icon {
    margin-top: 1px;
    min-width: 2.4rem;
    font-size: 1.5rem;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform-origin: 50% 150%;
    transform-origin: 50% 150%;
}

.tabs-md .tab-button-text {
    font-size: 1.0rem;
    text-transform: none;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    -webkit-transform-origin: 50% 80%;
    transform-origin: 50% 80%;
}

.tabs-md-primary .tab-button[aria-selected="true"] .tab-button-icon {
    color: #FF7F00;
}

.tabs-md .tab-button[aria-selected="true"] .tab-button-text {
 color: #FF7F00;
  }