<ion-header>

    <ion-navbar>
        <ion-title>Betway Power Basketball Club</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
<ion-card-content>
                <ion-card-title>
                    {{title}}
                </ion-card-title>
                <span class="created" [innerHTML]="vdate">
                </span> 
                <!-- Sharing Icons -->
</ion-card-content>
    <ion-card >
        <!--<img src="{{newsImg}}">-->
        <ion-card-content>
            
            <div class="margin-bottom-10">
              <iframe height="315" width="100%" [src]="video | youtube"></iframe>  
            </div>

            <!-- Sharing Icons -->
     
        </ion-card-content>
    </ion-card>
</ion-content>