page-fixtures {
.content-md{background: #f5f5f5;}
.content-ios{background: #f5f5f5;}
/*match widget*/
.bt_bb_game_result {
  display: inline-block;
  width: 100%;
}
.item-md.item-block .item-inner {
    padding-right: 0px !important;
    border-bottom: 1px solid #dedede;
}
h2{color: #000;
font-size: 1.2em;
text-transform: uppercase;
font-weight: 800;
padding: 0 10px 5px 10px; border-bottom: 1px solid #eee;}
.item-md{ padding: 0 0px 0 10px  !important; }
.item-ios{ padding: 0 0px 0 10px !important; }
.item-md{color:#333;}
.item-ios{color:#333;}
.myitemlist{color:#333;}
.item-md{color:#333;}
.item-ios{color:#333;}
.captiontop{position: absolute;
    bottom: 3px;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);}
    .headerimg{position: relative;}
    .titlecss{position: absolute;
bottom: 10%;
color: #FF7F00;
font-weight: bold;
font-size: 19px;
padding-left: 10px;}
.rright{text-align: right;}

.label-md{margin:2px 8px 3px 0;}



.stm-next-match-carousel__item {
}

.stm-next-match-carousel__item {
    text-align: center;
    height: 100%;
    padding: 14px;
    box-shadow: 0px 4px 10px 0px rgba(135,135,135,.1);
    background-color: #fff;
    border-radius: 6px;
}

.stm-next-match-carousel__item .event-results {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
}

 .stm-next-match-carousel__item img {
    display: inline-block !important;
    width: 50px !important;
}

.stm-next-match-carousel__item .event-results .post-score {
    display: inline-block;
    min-width: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #222;
    padding-bottom: 3px;
    border-bottom: 3px #222 solid;
}

.stm-next-match-carousel__item .teams-titles {
    font-size: 11px;
    font-weight: 700;
    color: #222;
    margin-bottom: 10px;
}

.stm-next-match-carousel__item .event-league {
    text-transform: uppercase;
    font-weight: 700;
    color: #aaa;
    margin-bottom: 10px;
    font-size: 11px;
}

.stm-next-match-carousel__item .event-date {
    font-size: 11px;
}


}
