<ion-header>

    <ion-navbar>
        <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
      </button>
        <ion-title>Betway Power Basketball Club</ion-title>
    </ion-navbar>

</ion-header>


<ion-content >
 <div class="headerimg"> <img src="assets/imgs/bannertop3.jpg">

<div class="captiontop">
<div class="newcaption container">
<div class="titlecss">Fixtures
</div>
</div>

</div>
 </div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="!isLoading">
        <ion-list>
            <ion-item *ngFor="let item of matches"  class="margin-bottom-10  animated  fadeIn delay-1s" text-wrap (click)="openPage(item)">
  
<div class="stm-next-match-carousel__item">
<div class="event-results"> 

<img src="{{item.node.homelogo.src}}"> 

<span class="post-score heading-font"> vs </span> 
 
<img src="{{item.node.awaylogo.src}}">
 </div><div class="event-data"> 

 <div class="teams-titles"> {{item.node.field_home_club}} vs {{item.node.field_away_club}}</div>
 <div class="event-league"> {{item.node.title}}</div></div>
 <div class="event-date" [innerHTML]="item.node.dategame"> </div></div>
            </ion-item>
        </ion-list>
    </div>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" class="text-color-white">
     <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
     </ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>